.btn{
  font-size: .8rem;
  background-color: var(--dark);
  border-radius: 2px;
  color: (var(--light));
  padding: 7px 12px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-out;

  &:hover {
    background-color: var(--primary);
  }
}
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .8rem;
  border-radius: 2px;
  transition: all 0.2s ease-out;
  min-width: 80px;
  padding: 7px 12px;

  &.default {
    background-color: var(--dark);
    color: (var(--light));

    &:hover {
      background-color: var(--primary);
    }
  }
}

.action-button {
  padding: 0;
  min-width: 0;
}
.delete-btn-icon:hover {
  color: #700000;
}

.btn-large {
  height:50px;
}

.vote-action {
  font-size: 2rem;
  color: rgba(0,0,0, .5);
  cursor: pointer;
}

.vote-action:hover {
  color: rgba(0,0,0, .8);
}

.vote-action.voted{
    color: var(--dark);
}