.btn{
  font-size: .8rem;
  background-color: var(--dark);
  border-radius: var(--border-radius-sm);
  color: var(--light);
  padding: 7px 12px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-out;

  &:hover {
    background-color: var(--primary);
  }

  svg {
    margin-right: 8px;
  }
}
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .8rem;
  border-radius: var(--border-radius-sm);
  transition: all 0.2s ease-out;
  min-width: 80px;
  padding: 7px 12px;

  &.default {
    background-color: var(--dark);
    color: var(--light);

    &:hover {
      background-color: var(--primary);
    }
  }

  &.btn-success {
    background-color: var(--success);
    color: var(--success-light);

    &:hover {
      background-color: var(--success-alt);
    }
  }
}

.action-button {
  padding: 0;
  min-width: 0;
}
.delete-btn-icon:hover {
  color: #700000;
}

.btn-large {
  height:50px;
}

.vote-action {
  font-size: 2rem;
  color: rgba(0,0,0, .5);
  cursor: pointer;
}

.vote-action:hover {
  color: rgba(0,0,0, .8);
}

.vote-action.voted{
    color: var(--dark);
}

.vote-action.disabled {
  color: rgba(0,0,0, .1);
  cursor: default;
}

.vote-action.disabled:hover {
  color: rgba(0,0,0, .1);
}

.actions-container {
    display: flex;
    gap: .5rem;
}