.form-group {
  margin: 0 auto;
}

label {
  font-weight: bold;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--light);
  box-sizing: border-box;
  border-radius: var(--border-radius);

  &:focus {
    border: 1px solid var(--primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.error-message {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}